* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: white;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  padding: 10px 20px;
  border-radius: 8px;
  border-style: dashed;
  border-color: #f8a800;
}

header .logo {
  font-size: 24px;
  color: orange;
  font-weight: bold;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  color: orange;
}

.print {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 900px;
  height: auto;
}

.halloween-title {
  font-family: 'Creepster', cursive; 
  font-size: 36px;
  color: orange;
  margin-top: 40px;
  text-shadow: 2px 2px 4px #000, 0 0 25px #ff0000, 0 0 5px #000;
}

main {
  margin-top: 60px;
}
main h1{
    margin: 30px;;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: purple;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  border-style: dashed;
  border-color: #f8a800;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  color: orange;
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  color: #ddd;
  font-size: 16px;
}

.halloween-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-grid-examples {
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
}

.flex-example, .grid-example {
  background-color: purple;
  border-style: dashed;
  border-color: #f8a800;
  color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.flex-example h2, .grid-example h2 {
  color: orange;
  font-size: 24px;
  margin-bottom: 10px;
}

.example-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.box {
  background-color: orange;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-align: center;
  flex: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  background-color: #f8a800;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

footer {
  background-color: purple;
  color: orange;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  margin-top: 40px;
}
